<a class="pokemon">
<section class="pokemon__info">
  <h2>BulbaSauro</h2>
  <ul>
    <li>Poison</li>
    <li>Grass</li>

  </ul>
</section>
<section class="pokemon__image">
  <img src="assets/pokemon.svg" alt="imagem pokemon"/>
</section>
</a>
<a class="pokemon">
  <section class="pokemon__info">
    <h2>BulbaSauro</h2>
    <ul>
      <li>Poison</li>
      <li>Grass</li>

    </ul>
  </section>
  <section class="pokemon__image">
    <img src="assets/pokemon.svg" alt="imagem pokemon"/>
  </section>
  </a>


